<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/styles/jobs.css}" />
    <title>Jobs Candidate</title>
  </head>
  <body>
    <nav>
      <a href="/candidate/profile">Profile</a>
      <a href="/candidate/jobs" class="btn-nav-active">Jobs</a>
    </nav>
    <div class="jobs-container">
      <form action="">
        <input type="text" name="filter" placeholder="Search jobs" />
        <button type="submit">Search</button>
      </form>
      <div th:each="job : ${jobs}">
        <div class="job-container">
          <h3 th:text="${job.description}"></h3>
          <span th:text="${job.level}" class="job-level"></span>
          <div class="job-benefits">
            <h4>Benefits:</h4>
            <span th:text="${job.benefits}"></span>
          </div>
          <button>Apply</button>
        </div>
      </div>
    </div>
  </body>
</html>
