<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/styles/candidate/login.css}" />
    <title>Login Candidate</title>
  </head>
  <body>
    <form th:action="@{/candidate/sing-in}" method="post">
      <div class="form-header">Opportunity Management</div>
      <div class="form-inputs-container">
        <a href="/candidate/create">Register</a>
        <input type="text" name="username" placeholder="user" />
        <input type="password" name="password" placeholder="password" />
        <p
          class="error-message"
          th:if="${errorMessage}"
          th:text="${errorMessage}"
        ></p>
        <button>Login</button>
      </div>
    </form>
  </body>
</html>
