* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100vh;
  background-color: rgb(17 24 39);
}

body,
button,
input,
a,
::placeholder {
  color: white;
}

button:hover,
a:hover {
  filter: brightness(1);
}

nav {
  background-color: rgb(31 41 55);
  display: flex;
  gap: 12px;
  padding: 12px 200px;
}

nav a {
  text-align: right;
  display: block;
  filter: brightness(0.8);
  border-radius: 7px;
  padding: 8px;
  text-decoration: none;
}

.btn-nav-active {
  background-color: rgb(17 24 39);
}

nav a:hover {
  background-color: rgb(17 24 39);
}

.jobs-container {
  background-color: rgb(31 41 55);
  margin: 80px auto;
  width: 80%;
  max-width: 800px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.jobs-container form {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}

input {
  background-color: rgb(107 114 128);
  display: block;
  width: 100%;
  border-radius: 6px;
  padding: 12px;
}

button {
  background-color: rgb(22 163 74);
  display: block;
  border-radius: 6px;
  padding: 12px;
  cursor: pointer;
  filter: brightness(0.8);
  border: none;
}

@media (max-width: 768px) {
  nav {
    padding: 12px 24px;
  }
}
